/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@400;600&family=Epilogue:wght@500&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Epilogue", sans-serif;
}
body {
  font-family: "Encode Sans Expanded", sans-serif;
  font-size: 18px;
  line-height: 1.4;
  background-color: #020456;
  color: #fcfefc;
}

h2 {
  font-size: 40px;
  margin-bottom: 24px;
}
h3 {
  font-family: "Encode Sans Expanded", sans-serif;
  font-size: 24px;
}

p strong {
  font-weight: 600;
}
a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 24px;
}
label {
  font-size: 24px;
}
#app {
  max-width: 996px;
  margin: 0 24px;
}
section {
  width: 100%;
  height: 100%;
  padding: 48px 24px;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 24px;
}

header img {
  width: 48px;
}
.rotate {
  -webkit-animation: rotation 2s infinite linear;
  animation: rotation 2s infinite linear;
}
section.div {
  max-width: 600px;
}

#hero {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#hero div {
  max-width: 800px;
}
#about {
  background-color: #151515;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

#about div {
  max-width: 800px;
  padding: 0px 12px;
  margin-bottom: 24px;
}

#about p {
  margin-bottom: 24px;
}

#facts .submit-dob {
  /* max-width: 800px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.submit-dob h3 {
  max-width: 600px;
  margin-bottom: 24px;
  text-align: center;
}

.submit-dob label {
  margin: 0 12px;
}

.dob-data {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer {
  background-color: #151515;
  padding: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
}

footer a {
  font-size: 12px;
}

@media all and (max-widht: 667px) {
  body {
    font-size: 16px;
  }

  h2 {
    font-size: 32px;
  }
}
